.container-body{
    display: grid;
    grid-template-columns: 4fr 1fr ;
}

@media screen and (max-width:640px) {
    .container-body{
        display: flex;
        flex-direction: column-reverse;
        
    
    }
}